


.heading {
  font-size: 80px;
font-family: tahoma, helvetica;
  margin: 70px auto 50px auto;
}


a:link, a:visited{
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
	color:white;
}

#city, #country{
   font-size: 30px; color: #6495ED; 

}

.tempDetails, #desc, #temp {
  font-size: 25px;
  
}
#desc {
  color: #7FFFD4
}	

.footer {
  margin-top: 25px;
}

.footer a:hover, a:link, a:visited, a:active{
	text-decoration:none;
	color: #ff3755;
}

span#notetext {
  color: red;
  text-decoration: underline;
}

div.note {
  color: #00cc00;
  font-size:15px;
  margin-top:80px;
}


@media only screen and (max-width: 500px) {
	
    body {
        background-color: lightblue;
    }
	
	.heading {
		font-size: 35px;
		margin: 40px auto 35px auto;
	}
	
	#city, #country{
		font-size: 25px;
	}
	
	.tempDetails, #desc, #temp {
		font-size: 20px;
	}
	
	.footer {
	margin-top: 35px;
	}
}